{% extends 'base.html' %}

  {% block enfant %}
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Basic form elements</h4>
        <p class="card-description">
          Basic form elements
        </p>
        <form class="forms-sample" method="POST" action="{{ url_for('upd_client', id=client[0]) }}">
                <div class="form-group">
                    <label for="exampleInputEmail1">mon client</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="{{ client[1] }}" name="Nomclient">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail2">address client</label>
                    <input type="text" class="form-control" id="exampleInputEmail2" placeholder="{{ client[2] }}" name="AdresseClient">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">telephone</label>
                    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="{{ client[3] }}" name="telephone">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
        </form>
      </div>
    </div>
  </div>
  
  {% endblock %}